# Node.js
node_modules/
package-lock.json
*.log
.env

.vvscode/
Vscode/
data/
models/.gitignore

!routes/tutor.js
!models/student.js
!models/course.js
!models/lecture.js
!knowledge/knowledge.json
!public/index.html
